<header>
    <a href="/" class="logo"><span>Pryor Ramirez &amp; Amar, LLC</span></a>
    <div class="hero">
        <div>If your car's not up to par, call Pryor, Ramirez &amp; Amar</div>
        <div>
            Please submit your info by clicking <a href="/lemon-law-free-case-review.html">FREE CASE REVIEW!</a>
            <span class="phone-words">(866) PRA-LLAW</span>
            <span class="phone">(1-866-772-5529)</span>
        </div>
    </div>



    <div class="slick" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
        <div><h3>1</h3></div>
        <div><h3>2</h3></div>
        <div><h3>3</h3></div>
        <div><h3>4</h3></div>
        <div><h3>5</h3></div>
        <div><h3>6</h3></div>
    </div>


    <nav class="primary-nav">
        <a href="/">Home</a>
        <a href="/lemon-law-free-case-review.html">Free Case Review</a>
        <a href="/lemonlaws">State Lemon Laws</a>
        <a href="/consumer-fraud.html">Consumer Fraud</a>
        <a href="/thank-you-letters.html">Thank You Letters</a>
        <a href="/attorneys.html">Attorneys</a>
        <a href="/contact.html">Contact</a>
        <a href="/rv-motor-home.html">RV Motor Home</a>
        <a href="/faqs.html">FAQs</a>
        <a href="/links.html">Links</a>
        <a href="/arizona-lemon-law.html">Arizona Lemon Law</a>
        <a href="/informational-ad.html">Informational Ad</a>
    </nav>
</header>