// Theme Colors
$blue: #009;

// Defaults
$default-font-family: 'Open Sans' serif;
$default-text-color: #000;
$default-anchor-color: $blue;
$default-font-weight: 300;
$default-font-size: 12pt;

// Layout Misc
$gutter: 10px;
$breakpoint: 850px;