header {
    overflow: hidden; // Collapsing margins
}

.logo {
    display: block;
    background-color: $blue;
    margin-top: 65px;
    height: 50px;
    position: relative;

    span { display: none; } // Hide real text to show logo instead

    &::before {
        content: '';
        position: absolute;
        left: 0px;
        display: block;
        width: 494px;
        height: 85px;
        background: transparent url('/images/logo.png') no-repeat left top;
        
        // Small Viewport
        background-size: 350px;
        top: -40px;

        // Large Viewport
        @include wider-than($breakpoint) {
            background-size: 494px;
            top: -54px;
        }

    }
}


.slick {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.slick-slide {
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    &.one {
        background-image: url('/images/slide1.jpg');
        background: -webkit-linear-gradient(left, $blue, transparent), url('/images/slide1.jpg');
        background: linear-gradient(left, $blue, transparent), url('/images/slide1.jpg');
    }

    &.two {
        background-image: url('/images/slide2.jpg');
        background: -webkit-linear-gradient(left, $blue, transparent), url('/images/slide2.jpg');
        background: linear-gradient(left, $blue, transparent), url('/images/slide2.jpg');
    }

    &.three {
        background-image: url('/images/slide3.jpg');
        background: -webkit-linear-gradient(left, $blue, transparent), url('/images/slide3.jpg');
        background: linear-gradient(left, $blue, transparent), url('/images/slide3.jpg');
    }

    -webkit-background-size: cover, cover !important;
    background-size: cover, cover !important;
    background-position: center right, center right !important;

    &.one, &.two, &.three {
        span {
            color: #fff;
            text-shadow: 1px 1px 2px #000;
            display: block;
            position: absolute;
            left: 20px;
            bottom: 20px;
            font-size: 26pt;
            @include wider-than($breakpoint) {
                width: 50%;
            }
        }
    }

}

// Modernizr
html.no-textshadow .slick-slide {
    span {
        background-color: red;
    }
}

.hero {
    @extend %clearfix;
    color: #fff;

    > div {
        // margin-top: $gutter;
        height: 100%;
        max-height: 200px;
        border-radius: 5px;
        text-align: center;
        padding: 20px 40px;
    }

    > div:first-child {
        display: none;
        
        @include wider-than($breakpoint) {
            display: block;
            float: left;
            width: 40%;
            font-size: 1.7em;
            background-color: $blue;
            margin-right: $gutter;
        }
    }

    > div:last-child {
        overflow: hidden; // For when it's sibling is float left
        background-color: #00f;
        font-size: 1.8em;
        line-height: 40px;
        padding-left: 60px;
        padding-right: 60px;

        a {
            color: #fff;
            text-decoration: underline;
        }
        .phone-words, .phone { display: block; }

        @include wider-than($breakpoint) {
            line-height: 35px;
            font-size: 1.8em;
            .phone { font-size: 0.6em; }
        }

    }
}

.primary-nav {
    background-color: #7994CB;
    border-radius: 5px;
    margin-top: $gutter;

    a {
        display: inline-block;
        padding: 5px 10px;
        font-size: 0.8em;
        color: #fff;
    }

}