header {
    overflow: hidden; // Collapsing margins
}

.logo {
    display: block;
    background-color: $blue;
    margin-top: 65px;
    height: 50px;
    position: relative;

    span { display: none; } // Hide real text to show logo instead

    &::before {
        content: '';
        position: absolute;
        left: 0px;
        display: block;
        width: 494px;
        height: 85px;
        background: transparent url('/images/logo.png') no-repeat left top;
        
        // Small Viewport
        background-size: 350px;
        top: -40px;

        // Large Viewport
        @include wider-than($breakpoint) {
            background-size: 494px;
            top: -54px;
        }

    }
}


.hero {
    @extend %clearfix;
    color: #fff;

    > div {
        margin-top: $gutter;
        height: 150px;
        border-radius: 5px;
        text-align: center;
        padding: 20px 40px;
    }

    > div:first-child {
        display: none;
        
        @include wider-than($breakpoint) {
            display: block;
            float: left;
            width: 40%;
            font-size: 1.5em;
            background-color: $blue;
            margin-right: $gutter;
        }
    }

    > div:last-child {
        overflow: hidden; // For when it's sibling is float left
        background-color: #00f;
        font-size: 1em;
        line-height: 30px;
        padding-left: 60px;
        padding-right: 60px;

        a {
            color: #fff;
            text-decoration: underline;
        }
        .phone-words, .phone { display: block; }

        @include wider-than($breakpoint) {
            font-size: 1.6em;
            .phone { font-size: 0.6em; }
        }

    }
}

.primary-nav {
    background-color: #7994CB;
    border-radius: 5px;
    margin-top: $gutter;

    a {
        display: inline-block;
        padding: 5px 10px;
        font-size: 0.8em;
        color: #fff;
    }

}