main {
    margin-top: $gutter;
    background-color: #F3F5FA;
    border: 1px solid #7994CB;
    border-radius: 5px;
    padding: 30px;
    min-height: 150px;

    header {
        position: relative;

        h1 {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1em;
        }

        h2 {
            font-size: 1.7em;
            border-bottom: 1px solid #888;
        }
    }

    img {
        float: left;
        margin-right: 20px;
        &.right {
            float: right;
            margin-right: 0;
            margin-left: 20px;
        }
    }

    p {
        text-align: justify;
        line-height: 170%;
    }

    h1 {
        margin-top: 10px;
        font-size: 1em;
    }

    ul.list-states {
        list-style-type: disc;
        column-count: 3;
        column-gutter: 30px;
        li {
            margin-left: 20px;
        }
    }

}