main {
    margin-top: $gutter;
    background-color: #F3F5FA;
    border: 1px solid #7994CB;
    border-radius: 5px;
    padding: 30px;
    min-height: 150px;

    header {
        position: relative;

        h1 {
            font-size: 1em;
            
            @include wider-than(700px) {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        h2 {
            font-size: 1.7em;
            border-bottom: 1px solid #888;
        }

    }

    img {
        width: 100%;

        @include wider-than(700px) {
            max-width: 350px;
            float: left;
            margin-right: 20px;
            &.right {
                float: right;
                margin-right: 0;
                margin-left: 20px;
            }
        }

    }

    p {
        line-height: 170%;
        text-align: justify;
    }

    h1 {
        margin-top: 10px;
        font-size: 1em;
    }

    ul.list-states {
        @include wider-than($breakpoint) {
            list-style-type: disc;
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            -webkit-column-gutter: 30px;
            -moz-column-gutter: 30px;
            column-gutter: 30px;
            li {
                margin-left: 20px;
            }
        }
    }

}