// ****************************************
//   Inherited Syles
// ****************************************

// See this explanation for details
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html {
    box-sizing: border-box;
    color: $default-text-color;
    font: $default-font-size $default-font-family;
    font-weight: $default-font-weight;
}

*, *:before, *:after {
    box-sizing: inherit;
    color: inherit;
    font: inherit
}


// ****************************************
//   Body
// ****************************************

body {
    background: radial-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('/images/bg.jpg');
    -webkit-background-size: cover, cover;
    background-size: cover, cover;
    -webkit-background-attachment: fixed, fixed;
    background-attachment: fixed, fixed;
}


// ****************************************
//   Common tags 
// ****************************************

a {
    color: $default-anchor-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
    color: #222;
}

strong {
    font-weight: 700;
    text-decoration: underline;
}

em {
    font-style: italic;
}

/**
 * Disclaimers
 */

.disclaimer {
    margin-top: 20px;
    border-top: 1px solid #7994CB;
    font-size: 0.7em;

    p::before {
        content: '* ';
    }
}